@page "/teachers"

@inject IJSRuntime JsRuntime
@inject IPersonService PersonService
@inject IGroupService GroupService
@inject DialogService DialogService

@if (_teachers == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
        <style>
    .rz-grid-table {
        width: unset;
    }
    
</style>   

    <div class="container-fluid flex-xl-grow-1">
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" 
                class="mt-2 mb-4" Text="Добавить новую запись" 
                Click="@InsertRow" Disabled=@(personToInsert != null || personToUpdate != null) />
        <br />
        <RadzenDataGrid @ref="teachersGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowColumnResize="true" Density="@density"
            AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : "")" 
            AllowPaging="true" PageSize="6" AllowSorting="true" EditMode="Radzen.DataGridEditMode.Single"
            Data="@_teachers" TItem="Person" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" 
            Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px" GridLines="DataGridGridLines.Both">

            <HeaderTemplate>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-2">
                    <RadzenCard class="my-2" style="display: flex; align-items: center; gap: 0.5rem">
                        <div style="white-space:nowrap; margin-right: 16px">Плотность строк</div>
                        <RadzenSelectBar @bind-Value="@density" TextProperty="Text" ValueProperty="Value" 
                        Data="@(Enum.GetValues(typeof(Density)).Cast<Density>().Select(t => new {Text = $"{t}", Value=t }))" />
                    </RadzenCard>

                    <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization"  />

                    <RadzenLabel Text="Виртуализация" Component="allowVirtualization" />
                </RadzenStack>
            </HeaderTemplate>

            <Columns>
                <RadzenDataGridColumn TItem="Person" Property="Id" Title="ID" Width="120px" Frozen="true" />
                <RadzenDataGridColumn TItem="Person" Property="SecondName" Title="Фамилия" Width="220px">
                    <EditTemplate Context="person">
                        <RadzenTextBox @bind-Value="person.SecondName" Style="width:100%; display: block;" Name="SecondName"/>
                        <RadzenRequiredValidator Text="Введите фамилию" Component="SecondName" Popup="true"/>
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Person" Property="FirstName" Title="Имя" Width="220px">
                    <EditTemplate Context="person">
                        <RadzenTextBox @bind-Value="person.FirstName" Style="width:100%; display: block;" Name="FirstName"/>
                        <RadzenRequiredValidator Text="Введите имя" Component="FirstName" Popup="true"/>
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Person" Property="PatherName" Title="Отчество" Width="220px">
                    <EditTemplate Context="person">
                        <RadzenTextBox @bind-Value="person.PatherName" Style="width:100%; display: block;" Name="PatherName"/>
                        <RadzenRequiredValidator Text="Введите отчество" Component="PatherName" Popup="true"/>
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Person" Property="Group.Name" Title="Группа" Width="280px">
                    <EditTemplate Context="person">
                        <RadzenDropDown @bind-Value="person.GroupId" Data="@_groups" 
                            TextProperty="Name" ValueProperty="Id" Style="width: 100%; display: block;"/>
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Person" Context="person" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                    <Template Context="person">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Visible="@(person.GroupId != 9999)" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(person))" @onclick:stopPropagation="true">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Visible="@(person.GroupId != 9999)" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(person))"  @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="person">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(person))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(person))">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(person))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>
    </div>
}
@code {
    RadzenDataGrid<Person> teachersGrid;
    private bool allowVirtualization;
    Density density = Density.Default;
    IEnumerable<Person> _teachers;
    IEnumerable<Data.Entities.Group> _groups;

    Person? personToUpdate;
    Person? personToInsert;

    private void Reset()
    {
        personToInsert = null;
        personToUpdate = null;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _teachers = await PersonService.GetTeachersAsync();
        _groups = await GroupService.GetGroupsByType('P');
    }

    private async Task InsertRow()
    {
        personToInsert = new Person();
        await teachersGrid.InsertRow(personToInsert);
    }

    private async Task SaveRow(Person person)
    {
        var result = await DialogService.Confirm("Вы собираетесь изменить данные?", "Редактирование", new ConfirmOptions() { OkButtonText = "Да", CancelButtonText = "Нет" });
        if (result is true) await teachersGrid.UpdateRow(person);
    }

    private async Task EditRow(Person person)
    {
        personToUpdate = person;
        await teachersGrid.EditRow(person);
    }

    private async Task OnUpdateRow(Person person)
    {
        Reset();
        await PersonService.SavePersonAsync(person);
    }

    private async Task DeleteRow(Person person)
    {
        var result = await DialogService.Confirm("Вы собираетесь удалить запись? Данные нельзя будет восстановить", "Удаление записи", new ConfirmOptions() { OkButtonText = "Да", CancelButtonText = "Нет" });
        if (result is not true) return;
        Reset();

        if (_teachers.Contains(person))
        {
            var deleteCheck = await PersonService.DeletePersonAsync(person.Id, true);
            if (!deleteCheck.Status)
            {
                await JsRuntime.InvokeVoidAsync("console.log", deleteCheck.Error);
                return;
            }
            await teachersGrid.Reload();
        }
        else
        {
            teachersGrid.CancelEditRow(person);
            await teachersGrid.Reload();
        }
    }

    private async Task OnCreateRow(Person person)
    {
        await PersonService.SavePersonAsync(person);
        personToInsert = null;
    }

    private void CancelEdit(Person person)
    {
        Reset();

        teachersGrid.CancelEditRow(person);

        PersonService.CheckEntries(person);
    }
}